html,body{
    margin:0;
    height: auto;
    background-color: aqua;
}

#main{
    width: auto;
    height: auto;
}

menu{
    height: 30%;
    width: auto;
    background-color:cadetblue;
}

#content{
    height: 70%;
    width: auto;
    background-color:coral;

}

table, th, td {
    border: 1px solid black;
}